Body {
     scrollbar-face-color: #6666FF;
     scrollbar-shadow-color: black; 
     scrollbar-highlight-color: #2A314C;
     scrollbar-3dlight-color:#6666ff; 
     scrollbar-darkshadow-color: blue;
     scrollbar-track-color: #227FFF;
     scrollbar-arrow-color: white
}
